@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Me</h2>
<h3>@ViewBag.Message</h3>

<p>
    Full Stack Software Developer <br />
    Websites, Applications, Games <br />
    ASP.NET Core, ReactJS, HTML5/CSS <br />
    C#, Java, JavaScript, MySQL <br />
                                                                    <br />
    Ever since my first ever programming project 7+ years ago, I became very passionate about developing applications that would utilize my creative ability. I became highly involved in making these applications user friendly, clean, easy to navigate, appealing to the user, and bug-free. All while, implementing critical concepts such as space and time management, memory optimization, data structures, debugging, prototyping, testing etc.
</p>
