@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Me</h2>

<address>
    Toronto, Ontario, Canada<br />
    Contact me by leaving a message below or sending me an email <br />
    <strong>Email:</strong>
    <a href="mailto:abhinav.mohan1996@gmail.com">abhinav.mohan1996@gmail.com</a>
</address>
